@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto-sans);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(45.7% 0.24 277.023);
  --secondary: oklch(92% 0.1 200);
  --accent: oklch(82% 0.19 140);
  --secondary-foreground: oklch(43.9% 0 0);
  --disabled: oklch(70.8% 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(67.3% 0.182 276.935);
  --secondary: oklch(55% 0.14 200);
  --accent: oklch(65% 0.22 140);
  --secondary-foreground: oklch(70.8% 0 0);
  --disabled: oklch(43.9% 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .section-wrapper {
    @apply max-w-[1440px] w-full px-4 lg:px-24 xl:px-28 md:py-16 lg:py-24 py-12;
  }
  .navbar-wrapper {
    @apply max-w-[1440px] w-full px-4 md:px-8 lg:px-28;
  }
  .link-focus {
    @apply focus:outline-[4px] focus:outline-primary/12 rounded-sm;
  }
}

/* Handling light theme flashing if dark mode is system default */
html.dark,
html.light {
  visibility: visible;
}

html {
  visibility: hidden;
  transition: visibility 0s ease-in-out;
}
